main {
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  border: 1px solid black;
}

#input-field p{
  border: 1px solid black;
  padding: 12px;
  line-height: 10px;
  font-weight: bold;
  font-size: 2em;
  text-align: right;
  width: 90%;
  margin: 20px auto;
}

#input-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 90%;
  height: 70%;
  padding: 5px;
  margin: 5px auto;
  border: 1px solid red;
}

#input-buttons button {
  width: 20%;
  height: 18%;
  margin: 2px;
  padding: 2px;
  font-weight: bold;
  border-radius: 10px;
}
