main {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

button:focus {
  outline: 0;
}

#input-field p{
  border: 1px solid black;
  padding: 12px;
  line-height: 10px;
  font-weight: bold;
  font-size: 2em;
  text-align: right;
  width: 80%;
  margin: 20px auto;
}

#input-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 90%;
  height: 80%;
  padding: 5px;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 10px;
}

#input-buttons button {
  width: 20%;
  height: 15%;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 2em;
  border-radius: 10px;
  color: white;
}

.clear {
  background-color: black;
  width: 20%;
  height: 20%;
}

.digit {
  background: tomato;
}

.operation {
  background: dodgerblue;
}

.dot, .equal {
  background: gray;
}
